<form fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch" [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <mat-card fxFlex="1 1 auto">
    <mat-tab-group [dynamicHeight]="true" [selectedIndex]="selectedTab" (selectedTabChange)="onTabChange($event.index)">
      <mat-tab label="帐户信息">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="您的email" formControlName="email">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="姓名" formControlName="name">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="密码" formControlName="password">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="确认密码" formControlName="confirmPwd">
          </mat-form-field>
          <app-image-list-select [cols]="4" [useSvgIcon]="true" [items]="avatarList" fromControlName="avatar"></app-image-list-select>
          <div class="text-center">
            <button mat-raised-button type="button" color="accent">注册</button>
          </div>
        </mat-card-content>
        <mat-card-actions class="text-right">
          <p>还没注册账户？<a href="/login">登陆</a></p>
          <p>忘记密码？<a href="">找回</a></p>
        </mat-card-actions>
      </mat-tab>
      <mat-tab label="个人信息">
        <app-age-input formControlName="dateOfBirth"></app-age-input>
      </mat-tab>
    </mat-tab-group>

  </mat-card>
</form>
