.fab-button
  position fixed
  right 30px
  bottom 90px
  z-index 999

.task-lists
  min-width 100%
  height 100%
  display flex
  flex-direction row
  flex-wrap row
  overflow-x scroll

.list-container
  flex 0 0 360px
  overflow-y scroll
  overflow-x hidden
