<div class="task-lists">
  <app-task-list
  class="list-container"
  *ngFor="let list of lists"
  app-droppable
  [dropTags]="['task-item', 'task-list']"
  [app-draggable]="true"
  [dragEnterClass]="'drag-enter'"
  [dragTag]="'task-list'"
  [draggedClass]="'drag-start'"
  [dragData]="list"
  (dropped)="handleMove($event, list)"
  [ngStyle]="{'order': list.order}"
  >
    <app-task-header
      [header]="list.name"
      (newTaskClick)="launchNewTaskDialog()"
      (moveAllClick)="launchCopyTaskDialog()"
      (deleteAllClick)="launchConfirmDialog()"
      (editListClick)="launchEditListDialog()"
     >
    </app-task-header>
    <app-quick-task (quickTask)="handleQuickTask($event)"></app-quick-task>
    <app-task-item *ngFor="let task of list.tasks" [task]="task" (taskClick)="launchUpdateTaskDialog(task)"></app-task-item>
  </app-task-list>
</div>
<button mat-fab class="fab-button" type="button" (click)="launchNewTaskListDialog()">
  <mat-icon>add</mat-icon>
</button>
