<form>
  <mat-card>
    <mat-card-title class="text-center">登录</mat-card-title>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="您的email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="密码">
      </mat-form-field>
      <div class="text-center">
        <button mat-raised-button type="button">登录</button>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没注册账户？<a href="">注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title class="text-center">每日佳句</mat-card-title>
    <mat-card-subtitle>读万卷书</mat-card-subtitle>
    <img mat-card-image src="http://placehold.it/200x100" alt="">
    <mat-card-content>
      feufh feufh fehufh
    </mat-card-content>

  </mat-card>
</form>
