mat-list-item
 border-bottom 2px solid #eee

.completion-status
  order -1

.completed
  opacity .64
  color #d9d9d9
  text-decoration line-through

mat-icon.avatar
  overflow hidden
  width 64px
  height 64px
  border-radius 100%
  margin 12px
  order 3

.due-date
  color #ff0000

.alarm
  font-size 18px
  margin-left 10px
  line-height 18px

.bottom-bar
  margin 5px 0

.priority-normal
  border-left 3px solid #a6a6a6

.priority-important
  border-left 3px solid #ffaf38

.priority-emergency
  border-left 3px solid #ff0000
